.about-section {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 2% 0;

    /* ------------------------------------------------ */
    .about-image-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 100%;

        /* -------------------------------------------- */
        .about-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 420px;
            height: 550px;
            background-color: var(--secondary-color);
            box-shadow: -50px 50px 0 0 var(--primary-text-color);

            img {
                width: 90%;
                height: auto;
                filter: invert(10%);
            }
        }
    }

    .about-details {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 52%;
        padding: 6% 0;

        /* -------------------------------------------- */
        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            /* ---------------------------------------- */
            h2 {
                position: relative;
                width: 40%;
                font-family: "Montserrat", sans-serif;
                font-size: 40px;
                color: var(--primary-text-color);
            }

            hr {
                width: 60%;
                height: 2px;
                background-color: var(--secondary-color);
                border: solid var(--secondary-color) 1px;
                border-radius: 5px;
            }
        }

        .description {
            margin: 4% 0;
            width: 80%;

            /* ---------------------------------------- */
            p {
                font-size: 16px;
                font-family: Inter;
                word-spacing: 3px;
                line-height: 25px;
                color: var(--subtext-color);
            }
        }

        .tab-titles {
            display: flex;
            width: 50%;

            /* ---------------------------------------- */
            .tab-title {
                position: relative;
                margin: 0 60px 0 0;
                font-size: 22px;
                font-family: "Montserrat", sans-serif;
                text-transform: capitalize;
                letter-spacing: 1px;
                color: var(--primary-text-color);
                cursor: pointer;
            }

            .tab-title::after {
                content: "";
                width: 0;
                height: 2px;
                background-color: var(--secondary-color);
                left: 0;
                bottom: -10px;
                transition: width 0.3s ease;
                position: absolute;
            }

            .tab-title.active-title::after {
                width: 100%;
            }
        }

        .tab-content {
            display: none;
            margin: 5% 0;

            /* ---------------------------------------- */
            .outer-list {
                list-style: none;

                /* ------------------------------------ */
                li {
                    margin: 0 0 2% 0;
                    font-size: 17px;
                    text-transform: capitalize;
                    color: var(--secondary-color);

                    /* -------------------------------- */
                    .inner-list {
                        list-style: disc;

                        /* ---------------------------- */
                        li {
                            margin: 1% 2%;
                            font-size: 14px;
                            text-transform: none;
                            color: var(--subtext-color);
                        }
                    }
                }
            }

            p {
                width: 70%;
                font-size: 14px;
                line-height: 20px;
                color: var(--subtext-color);
            }
        }

        #skills-list {
            display: grid;
            grid-template-columns: 40% 40%;

            li {
                margin: 0 0 5% 0;

                .inner-list {
                    li {
                        margin: 2.4% 5%;
                    }
                }
                
            }
            
        }

        .tab-content.active-content {
            display: block;
        }
    }

}