:root {
    --primary-color: #191D23;
    --tab-color: #2A303A;
    --secondary-color: #2AD882;
    --primary-text-color: #FFFFFF;
    --subtext-color: #D7D7D7;
    --special-subtext-color: #24AD68;

    --astro-brightness-level: 100%;
    --service-icons-invert-level: 0%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 18px 2% 18px 7%;

    /* ------------------------------------------------ */
    h3 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    /* ------------------------------------------------ */
    ul {
        display: flex;
        list-style: none;
        align-items: center;
        
        /* -------------------------------------------- */
        li a{
            position: relative;
            margin: 0 15px;
            padding: 0 10px;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            text-transform: capitalize;
            letter-spacing: 1px;
            color: var(--primary-text-color);
            transition: 0.3s;
        }

        li a:hover {
            color: var(--special-subtext-color);
        }

        li a::after {
            content: "";
            width: 0;
            height: 2px;
            background-color: var(--special-subtext-color);
            left: 0;
            bottom: -10px;
            transition: width 0.3s ease;
            position: absolute;
        }

        li a:hover::after {
            width: 100%;
        }

        .theme-switch {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            margin-left: 30px;
            border-radius: 50px;
            cursor: pointer;
            transition: 0.5s ease;

            .theme-buttons {
                width: 20px;
                height: 20px;
            }

            #light {
                display: block;
            }
    
            #dark {
                display: none;
            }            
        }

        .theme-switch:hover {
            animation: bounce 1.5s infinite;
        }        
    }
}

.main-section {
    display: flex;
    width: 100%;
    height: 700px;
    color: var(--primary-text-color);

    /* ------------------------------------------------ */
    .main-background {
        width: 70%;
        background-color: var(--primary-color);
        z-index: -3;

        /* -------------------------------------------- */
        .welcome-text {
            position: relative;
            top: 150px;
            left: 200px;

            /* ---------------------------------------- */
            p {
                font-family: "Montserrat", sans-serif;
                font-size: 23px;
                font-weight: 600;
                text-transform: capitalize;
                color: var(--special-subtext-color);
            }

            h2 {
                font-family: "Montserrat", sans-serif;
                font-family: Inter;
                font-size: 70px;
                font-weight: 800;
                line-height: 1.1;
                letter-spacing: 1px;
                position: relative;
                top: 20px;
            }

            a {
                text-decoration: none;
            }

            .profession {
                display: flex;
                justify-content: space-between;
                position: relative;
                top: 80px;
                width: 50%;
                border: 2px solid var(--secondary-color);

                p {
                    padding: 5px 20px;
                    font-size: 32px;
                    font-weight: normal;
                    color: var(--primary-text-color);
                }

                p::before {
                    content: "computer science";
                }

                .arrow {
                    display: flex;
                    align-items: center;
                    background-color: var(--secondary-color);

                    img {
                        width: 30px;
                        padding: 10px 13px;
                    }
                }
            }
        }
    }

    /* ------------------------------------------------ */
    .colored-background {
        width: 30%;
        background-color: var(--secondary-color);
        z-index: -3;

        .fixed-hexagon {
            position: fixed;
            top: 20vh;
            right: 12vw;
            width: 20vw;
            height: 35vw;
            background-color: var(--primary-color);
            border-radius: 50px / 15px;
            z-index: -2;
        }

        .fixed-hexagon::before,
        .fixed-hexagon::after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: inherit;
            border-radius: inherit;
        }

        .fixed-hexagon::before {
            transform: rotate(-60deg);
            z-index: -2;
        }

        .fixed-hexagon::after {
            transform: rotate(-120deg);
            z-index: -2;
        }
    }

    #astro {
        position: fixed;
        top: 8vh;
        right: 10vw;
        width: 600px;
        fill: black;
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(5px 5px 10px var(--secondary-color))
        ;
        z-index: -1;
        animation: glow 2s infinite linear;
    }
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
      background-color: var(--special-subtext-color);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes glow {
    0% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(5px 5px 5px var(--secondary-color))
        ;
    }
    12.5% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(0 7px 5px var(--secondary-color))
        ;
    }
    25% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(-5px 5px 5px var(--secondary-color))
        ;
    }
    37.5% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(-7px 0 5px var(--secondary-color))
        ;
    }
    50% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(-5px -5px 5px var(--secondary-color))
        ;
    }
    62.5% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(0 -7px 5px var(--secondary-color))
        ;
    }
    75% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(5px -5px 5px var(--secondary-color))
        ;
    }
    87.5% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(7px 0 5px var(--secondary-color))
        ;
    }
    100% {
        filter: 
        brightness(var(--astro-brightness-level))
        drop-shadow(5px 5px 5px var(--secondary-color))
        ;
    }
}